# LLM 関連の設定

# Ollama API
OLLAMA_API_URL=http://ollama:11434/v1

# llama.cpp API
LLAMACPP_API_URL=http://llamacpp:11446/v1

# OpenAI互換API
OPENAI_API_URL=$LLAMACPP_API_URL
OPENAI_API_KEY=dummy

# Gemini API
GEMINI_API_KEY=***

# LLM モデル
LLM_MODEL=qwen3.5:35b-cloud
LLM_MODEL_PROVIDER=ollama
VLM_MODEL=gemma4:27b-cloud
VLM_MODEL_PROVIDER=ollama

# その他の設定

# API サーバー
LLM_API_PORT=58001

# Docker 設定
HOST_UID=1000
HOST_GID=1000

# Google 検索 API
GOOGLE_API_KEY=***
GOOGLE_CSE_ID=***

# HuggingFace
HF_TOKEN=***
